<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="css/main.css">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
        <nav>
                <ul>
                   
                    <li><a href="index">About</a></li>
                    <li><a href="profit">Profit</a></li>
                    
                    <li><a href="contact">Contact</a></li>
                    <li><a href="guestbook">GuestBook</a></li>
                </ul>
            </nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
